<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN"
   "http://www.w3.org/TR/html4/frameset.dtd">
<html>
<head>
<title>images</title>
<style>
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
</style>
</head>
<body>
<table border='0', width='100%', align='center'>
    <tr>
        <td align='center'>
            <img src="img/azure.png">
        </td>
    </tr>
    <tr>
        <td align='center'>time now is {{data['date']}} &nbsp;&nbsp; epoch: {{data['time']}}</td>
    </tr>
</table>
</body>
</html>


